body{
    background-color: orange;
}
del{
    background-color: :rgba(255,6,6,.0.72);
    color:white;
    border:solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
h2{
    background-color: black
    color: solid;
    border:solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;

}




