/*
Martes 25 de Octubre 2022
Autor:_Raúl
*/
*{
    box-sizing: border-box;
    margin: 0px;
}

h1{
    text-align: center;
}

section{
    width: 70%;
    margin: auto;
    border: dashed;
    padding: 15px;   
}

ol  ol {
    list-style-type: lower-roman;

}

.ListaDesordenada{
    background-color: bisque;
}

.ListaOrdenada{
    background-color: cornflowerblue;

}
.ListaDefinicion{
    background-color: aqua;
}
ul li{
    list-style-type: none;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: -5px;
    padding: 10px 10px 10px 50px;
}
.placa_base{
    background-image:url(https://img.pccomponentes.com/articles/35/354912/2907-asus-rog-strix-z590-e-gaming-wifi-comprar.jpg);

}
.procesador{
    background-image:url(https://img.pccomponentes.com/articles/1057/10573120/1643-intel-core-i9-13900k-3-ghz-box.jpg?_gl=1*2rafh2*_ga*NDcxMzkyMjg2LjE2NjY5Nzg1MTQ.*_ga_DJ03PRJ8R3*MTY2ODE5NjI1MC4xMC4xLjE2NjgxOTY2NjMuMC4wLjA.);
}
.ram{
    background-image:url(https://img.pccomponentes.com/articles/80/803821/1201-corsair-dominator-platinum-rgb-ddr5-5600mhz-32gb-2x16gb-cl36.jpg);

}
.grafica{
    background-image:url(https://img.pccomponentes.com/articles/31/317841/1322-msi-geforce-rtx-3090-ventus-3x-oc-24gb-gddr6x-foto.jpg);
}
.ssd{
    background-image:url(https://img.pccomponentes.com/articles/1003/10030217/1523-corsair-mp600-pro-lpx-2tb-pcie-gen4-x4-nvme-m2-ssd-optimizada-para-ps5.jpg);

}
.torre{
    background-image:url(https://img.pccomponentes.com/articles/57/578887/1309-corsair-icue-7000x-rgb-cristal-templado-usb-30-negra.jpg);

}
.fuente{
    background-image:url(https://img.pccomponentes.com/articles/12/125226/1.jpg);
}